/* Main Wrapper */
.dtp-wrapper {
  
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

/* Class for title and subtitle */
.dtp-title-brand, .dtp-subtitle-brand, .dtp-title-article {
  text-align: center;
}

/* Class for article content */
.dtp-content-article {
  text-align: justify;
}

/* Class for row 1 */
.dtp-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  
}

.dtp-col-left {
  width: 600px;
  height: 600px;
}

.dtp-col-right {
 
  height: 600px;
  width: 600px;
}

.dtp-col-right-row-1 {
  display: flex;
  
  width: 600px;
  height: 300px;
}

.dtp-col-right-row-2 {
  display: flex;
  
  width: 600px;
  height: 300px;
}

.dtp-col-right-row-img img{

  width: 300px;
  height: 300px;
  object-fit: cover;
}

.dtp-row-1 .dtp-col-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Class for row 2 */
.dtp-row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dtp-row-2 img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.dtp-GalleryImgHover img {
  padding: 1px;
}
.dtp-GalleryImgHover img:hover {
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgb(29, 27, 27);
  transform: scale(1.1, 1.1);
  transition: all 800ms;
}
